**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose.yml
**/Dockerfile
**/Dockerfile.develop
**/Dockerfile.web
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
.dockerignore
.env
.git
.gitignore
.vs
.vscode
azds.yaml
bin
docker-compose.yml
Dockerfile
Dockerfile.develop
Dockerfile.web
obj
secrets.dev.yaml
values.dev.yaml
