# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a parent folder of contaminate the 
#  build folder. However, sometimes they are accidentally committed to 
#  the project root.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery
celerybeat-schedule

# SageMath notebooks
*.swp

# Spyder project settings
.spyderproject
.spyderworkspace

# Rope project settings
.ropeproject

# Mr. Developer
.mr.developer.cfg
.mr.developer.log

# App Engine
.google_apps

# Virtualenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
node_modules
node_modules
