
.spider-web-container {
  width: 100%;
  height: 400px;
}

.node.center {
  fill: #73beb0; /* From theme.palette.secondary */
}

.node.follower {
  fill: #4a5969; /* From theme.palette.primary */
}

.link {
  stroke: #5d838a; /* From theme.palette.tertiary */
}

.node-label {
  fill: #ffffff; /* From theme.text.primary */
  font-size: 0.8rem;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font: 12px sans-serif;
  background: #427973; /* From theme.palette.accent */
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  color: #ffffff; /* From theme.text.primary */
}
